.logo {
    width: 90px;
    border-radius: 50%;
    padding: 2%;
    transform: rotate(0deg);
    transition: all 0.8s ease-in;
  }

  .logo:hover {
    border: solid 2px rgb(84, 84, 85);
    transform: rotate(360deg);
    transition: all 0.4s ease-in-out;
  }