.product-img-c {
  height: 200px;
  width: auto;
  object-fit: cover;
}

.badgets-fixed-height-c {
  height: 15px;
  max-height: 15px;
}

/* .card-fixed-height-c {
  height: 500px;
  max-height: 500px;
  max-width: 200px;
} */

.card-img-container-c {
  height: 270px;
  max-height: 270px;
}

.card-title-fixed-height-c {
  height: 50px;
  min-height: 50px;
  margin: 0;
  display: flex block;
  align-items: center;
}

.original-price-fixed-height-c {
  height: 25px;
  max-height: 25px;
}

.card-outer-body-c {
  padding: 10px;
  height: 400px
} 

.card-description-c {
  text-align: center;
  height: 85px;
  font-size: 14px;
}

.price-c {
  min-height: 50px;
  text-align: center;
}

html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

.truncate-overflow {
  --max-lines: 3;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}

.truncate-overflow::before {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
}

.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
} 

/* .card-fixed-height {
  height: 500px;
  max-height: 500px;
  max-width: 200px;
} */