.product-img {
  height: 130px;
  width: auto;
  object-fit: cover;
}

.badgets-fixed-height {
  height: 15px;
  max-height: 15px;
}

.card-fixed-height {
  height: 300px;
  max-height: 300px;
  max-width: 200px;
}

.card-img-container {
  height: 150px;
  max-height: 150px;
}

.card-title-fixed-height {
  height: 40px;
  max-height: 40px;
  margin: 0;
  display: flex block;
  align-items: center;
}

.original-price-fixed-height {
  height: 25px;
  max-height: 25px;
}
