.product-img {
  height: 130px;
  width: auto;
  object-fit: cover;
}

.badgets-fixed-height {
  height: 20px;
  max-height: 20px;
}

.card-fixed-height {
  height: 300px;
  max-height: 300px;
  max-width: 150px;
}

.card-img-container {
  height: 150px;
  max-height: 150px;
}

.card-title-fixed-height {
  height: 20px;
  max-height: 20px;
}

.original-price-fixed-height {
  height: 25px;
  max-height: 25px;
}
